<h2>
  <% const avatar = profileImg ? `/uploads/${profileImg}` : profileAvatar %>
  <img class="avatar-small" src="<%= avatar %>" />
  <%= profileUsername %> <% if (user && !isVisitorsProfile) { if (isFollowing) { %>
  <form class="ml-2 d-inline" action="/follow/delete/<%= profileUsername %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button>
  </form>
  <%} else { %>
  <form class="ml-2 d-inline" action="/follow/<%= profileUsername %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
  </form>
  <% }} %> 
  <% if(user && isVisitorsProfile) { %>
    <a href="/profile/<%= user.username %>/edit" class="btn btn-primary btn-sm"><span class="text-white">Edit</span></i></a>
  <% } %>
</h2>

<div class="profile-nav nav nav-tabs pt-2 mb-4">
  <a href="/profile/<%= profileUsername %>" class="profile-nav-link nav-item nav-link">Posts: <%= count.postCount %></a>
  <a href="/profile/<%= profileUsername %>/followers" class="profile-nav-link nav-item nav-link">Followers: <%= count.followerCount %></a>
  <a href="/profile/<%= profileUsername %>/following" class="profile-nav-link nav-item nav-link">Following: <%= count.followingCount %></a>
</div>
