<%- include("inc/header") %> <% let avatar %> <% if(user.profile) { avatar = `http://localhost:3000/uploads/${user.profile}` } else { avatar = user.avatar } %>
<div class="container py-md-5 container--narrow">
  <%- include("inc/flash") %>
  <a class="small font-weight-bold" href="/profile/<%= user.username %>">&laquo; Back to Profile</a>
  <div class="container profile-up">
    <div class="img-container">
      <img src="<%= avatar %>" alt="<%= user.username %>'s profile" />
    </div>
    <div class="profile-data">
      <h4><%= user.username %></h4>
      <input type="file" style="display: none" accept="image/png, image/jpeg" />
      <button class="input-btn btn btn-primary">Upload Image</button>
    </div>
  </div>

  <div class="form-group">
    <label for="field-username" class="text-muted mb-1"><small>Username</small></label>
    <input readonly required name="username" id="field-username" class="form-control form-control-lg body-content" type="text" placeholder="" value="<%= userDoc.username %>" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="field-email" class="text-muted mb-1"><small>Email</small></label>
    <input readonly name="email" id="field-email" class="form-control form-control-lg body-content" type="text" placeholder="" value="<%= userDoc.email %>" autocomplete="off" />
  </div>
</div>

<%- include("inc/footer") %>
