<%- include("inc/header") %>

<div class="container py-md-5 container--narrow">
  <%- include("inc/flash") %> <%- include("inc/sharedProfile") %>

  <div class="list-group">
    <% if (followers.length) { followers.forEach((foll) => { %>
    <a href="/profile/<%= foll.username %>" class="list-group-item list-group-item-action">
      <img class="avatar-tiny" src="<%= foll.avatar %>" />
      <strong><%= foll.username %></strong>
    </a>
    <% }) } else { %>
    <p>Nobody is following you.</p>
    <% } %>
  </div>
</div>

<%- include("inc/footer") %>
