<%- include("inc/header") %>
<div class="container py-md-5 container--narrow">
  <%- include("inc/flash") %>
  <div class="d-flex justify-content-between">
    <h2><%= post.title %></h2>
    <% if(post.isPostOwner) { %>
    <span class="pt-2">
      <a href="/post/<%= post._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
      <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrf %>" />
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete">
          <i class="fas fa-trash"></i>
        </button>
      </form>
      <% if (post.updatedAt) { %>
      <br />
      <span class="text-muted small"
        >Updated : <% updateDate = new Date(post.updatedAt) %><%= updateDate.getMonth() + 1 %>/<%= updateDate.getDate() %>/<%= updateDate.getFullYear() %> at <%= updateDate.getHours() %>:<%= updateDate.getMinutes()
        %></span
      >
      <% } %>
    </span>
    <% } %>
  </div>

  <p class="text-muted small mb-4">
    <% const avatar = post.author.profile ? `/uploads/${post.author.profile}` : post.author.avatar %>
    <a href="/profile/<%= post.author.username %>"><img class="avatar-tiny" src="<%= avatar %>" /></a>
    Posted by <a href="/profile/<%= post.author.username %>"><%= post.author.username %></a> on <%= post.createdAt.getMonth() + 1%>/<%= post.createdAt.getDate() %>/<%= post.createdAt.getFullYear() %>
  </p>

  <div class="body-content"><%- markdownHtml(post.body) %></div>
</div>
<%- include("inc/footer") %>
